@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    width: 1240px;
    justify-content: space-between;
    /* padding-top: 30px; */
    list-style: none;
}

.logo {
    display: flex;
    font-weight: 600;
    font-size: 1.8rem;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.circle {
    position: absolute;
    top: 0;
    right: 0;
    width: 25%;
    height: 25%;
    background: linear-gradient(45deg, #e8cbc079, #636fa442);
    clip-path: circle( 60% at right 0%);
    z-index: -1;
}

span {
    color: #6C63FF;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.menu{
    display: flex;
    align-items: center;
}

.menu li a {
    display: block;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 15px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

.menu li a:hover {
    color: #6C63FF;
}

main {
    display: flex;
    justify-content: center;
    /* height: 100vh; */
}

.container-page {
    display: flex;
    width: 1240px;

}

.foto-titulo {
    display: flex;
    align-items: center;
}

.foto img{
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
}

.titulo h1 {
    font-size: 2.4rem;
    line-height: 4rem;
    text-align: center;
    margin-left: 200px;
    max-width: 260px;
}



.page {
    display: flex;
    flex-direction: column;
    align-items: center;

}

 h2 {
    display: flex;
    width: 400px;
    justify-content: center;
    font-size: 2.4rem;
    margin-bottom: 80px;
    margin-top: 60px;
}

.central {
    display: flex;
    width: 800px;
    height: 200px;
}
.espaco-inputs {
    display: flex;
    flex-direction: column;

}

input {
    line-height: 3rem;
    border: solid 2px #6C63FF;
    border-radius: 10px;
    width: 400px;
    margin-bottom: 20px;
    font-size: 0.8rem;
    text-align: left;
    padding-left: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);;
}

input:focus{
    outline: none;
}

input::placeholder {
    color: #000;
    font-weight: 700;
    font-size: 1rem;
}

.text {
    border: solid #000 1px;
    text-align: justify;
    padding: 5px;
    margin-left: 30px;
    line-height: 2rem;
    max-height: 200px;
}

.bottom input {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    width: 250px;
    height: 50px;
    font-weight: 500;
    background-color: #000;
    color: #6C63FF;
    border: none;
    cursor: pointer;
    margin-top: 80px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.bottom input:hover {
    background-color: #6C63FF;
    color: #000;
    transition: ease-in-out 0.3s;

} 

.footer {
    /* display: flex; */
    height: 300px;
    margin-top: 250px;
    background-color: #6C63FF;
}

.pages {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 150px;

}

.pages ul li,
.pages a {
    list-style: none;
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 1rem;
}

.logo-footer {
    font-size: 2.5rem;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

